<%= form_for @inventory, local: true do |f| %>
  <%= form_errors_for @inventory %>

  <div class= "<%= field_class(@inventory, :product_id) %>">
    <%= f.label :product_id, "Producto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.collection_select :product_id, Product.order(:name), :id, :name, options = { :prompt => 'Seleccione un Producto'}, html_options = { class: 'form-select form-control', autofocus: true  } %>
    </div>
  </div>

  <div class= "<%= field_class(@inventory, :quantity) %>">
    <%= f.label :quantity, "Cantidad", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :quantity, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@inventory, :registration_date) %>">
    <%= f.label :registration_date, "Fecha de Ingreso", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :registration_date, autofocus: true,class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@inventory, :release_date) %>">
    <%= f.label :release_date, "Fecha de Lanzamiento", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :release_date, autofocus: true,class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@inventory, :warehouse_id) %>">
    <%= f.label :warehouse_id, "Almacén", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.collection_select :warehouse_id, Warehouse.order(:shortname), :id, :shortname, options = { :prompt => 'Seleccione un Almacén'}, html_options = { class: 'form-select form-control', autofocus: true  } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success block m-b' %>
  </div>
<% end %>
