  <div class="field">
    <%= f.label :shortname %>
    <%= f.text_field :shortname %>
  </div>  

  <div class="field">
    <%= f.label :house_type %>
    <%= f.text_field :house_type %>
  </div>

  <div class="field">
    <%= f.label :address_line1 %>
    <%= f.text_field :address_line1 %>
  </div>

  <div class="field">
    <%= f.label :address_line2 %>
    <%= f.text_field :address_line2 %>
  </div>

  <div class="field">
    <%= f.label :departamento %>
    <%= f.text_field :departamento %>
  </div>

  <div class="field">
    <%= f.label :provincia %>
    <%= f.text_field :provincia %>
  </div>

  <div class="field">
    <%= f.label :distrito %>
    <%= f.text_field :distrito %>
  </div>

  <div class="field">
    <%= f.label :ubigeo_id %>
    <%= f.text_field :ubigeo_id %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>  
  </div>

  

