<div class="row">
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :shortname, "Nombre Corto", class: "control-label" %>
    <%= f.text_field :shortname, class: "form-control" %>
  </div>  
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :house_type, "Tipo de Casa", class: "control-label" %>
    <%= f.text_field :house_type, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <%= f.label :address_line1, "Dirección Linea 1", class: "control-label" %>
    <%= f.text_field :address_line1, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <%= f.label :address_line2, "Dirección Linea 2", class: "control-label" %>
    <%= f.text_field :address_line2, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :departamento, "Departamento", class: "control-label" %>
    <%= f.text_field :departamento, class: "form-control" %>
  </div>
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :provincia, "Provincia", class: "control-label" %>
    <%= f.text_field :provincia, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :distrito, "Distrito", class: "control-label" %>
    <%= f.text_field :distrito, class: "form-control" %>
  </div>
  <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <%= f.label :postal_code, "Código Postal", class: "control-label" %>
    <%= f.text_field :postal_code, class: "form-control" %>  
  </div>
</div>
  <div class="field">
    <%= f.text_field :ubigeo_id %>
  </div>

  

