<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, id: "submit-form"  }) do |f| %>
  <%= devise_error_messages! %>

  <div class="personal_info">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="section-title">Información Personal</h2>
      </div>
    </div>  
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :name, "Nombres", class: 'control-label' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :last_name, "Apellidos", class: 'control-label' %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :genre, "Género" %><br />
        <label class="inline-checkbox i-checks"> 
          <%= f.radio_button :genre, true %>
          Masculino
        </label>
        <label class="inline-checkbox i-checks"> 
          <%= f.radio_button :genre, false %>
          Femenino
        </label>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :birthdate, 'Fecha', class: 'control-label' %>
        <div class="input-group date">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
          <%= f.text_field :birthdate, placeholder: @today, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :doi, "Documento de Identidad", class: 'control-label' %>
        <div class="row">
          <div class="form-group col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <%= f.collection_select :doi_type_id, DoiType.order(:short_name), :id, :short_name, options = { :prompt => '' }, class: "form-select form-control" %>
          </div>
          <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <%= f.text_field :doi, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :avatar, "Avatar", class: 'control-label' %>
        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
          <div class="form-control" data-trigger="fileinput">
            <i class="glyphicon glyphicon-file fileinput-exists"></i>
            <span class="fileinput-filename">

            </span>
          </div>
          <span class="input-group-addon btn btn-default btn-file">
            <a href="" id="file-btn" class="fileinput-new">Seleccionar Archivo</a>
            <a href="" id="file-btn" class="fileinput-exists">Cambiar</a>
            <%= f.file_field :avatar, title: "Please choose file", id: "file-picker", class: "" %>
          </span>
          <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
        </div>
        
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :telephone, "Télefono Fijo", class: 'control-label' %>
        <%= f.telephone_field :telephone, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :mobile, "Télefono Móvil", class: 'control-label' %>
        <%= f.telephone_field :mobile, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :workcenter, "Centro de Trabajo", class: "control-label" %>
        <%= f.text_field :workcenter,class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      </div>
    </div>
  </div>

  <div class="address_info">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="section-title">Dirección</h2>
      </div>
    </div> 

    <%= f.fields_for :address do |builder| %>
      <%= render 'address_fields', f: builder %>
    <% end %>
  </div>

  <div class="business_info">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="section-title">Información de tu Negocio</h2>
      </div>
    </div> 
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :business_name, "Razón Social",class: "control-label" %>
        <%= f.text_field :business_name, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :ruc, "RUC", class: "control-label" %>
        <%= f.text_field :ruc, class: "form-control" %>
      </div>
    </div>
  </div>
    
  <div class="hobby_info">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="section-title">Información de tus Hobbies</h2>
      </div>
    </div> 
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :mtg_id, "MTG DCI", class: "control-label" %>
        <%= f.text_field :mtg_id, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :pkm_id, "Pokémon Player ID", class: "control-label" %>
        <%= f.text_field :pkm_id, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :ygo_id, "Yu-gi-Oh! Player ID (KCGN)", class: "control-label" %>
        <%= f.text_field :ygo_id, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :dbsuper_id, "Dragon Ball Super Player ID", class: "control-label" %>
        <%= f.text_field :dbsuper_id, class: "form-control" %>
      </div>
      
    </div>
    <div class="row" style="display:none;">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :bloobie_id, "Bloobiemundo Player ID", class: "control-label" %>
        <%= f.text_field :bloobie_id, class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      </div>
    </div>
  </div>
  
  <div class="account_info">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="section-title">Información de la Cuenta</h2>
      </div>
    </div> 
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :email, "Correo Eléctronico", class: "control-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :username, "Nombre de Usuario",class: "control-label" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username",class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :password, "Contraseña", class: "control-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= f.label :password_confirmation, "Confirmación de contraseña", class: "control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse",class: "btn btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<% content_for :javascript do %>
   <%= javascript_include_tag 'new_user' %>
<% end %>