<%= form_with(model: store_credit, local: true) do |form| %>
  <% if store_credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store_credit.errors.count, "error") %> prohibited this store_credit from being saved:</h2>

      <ul>
      <% store_credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :ammount %>
    <%= form.text_field :ammount %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :credit_date %>
    <%= form.date_field :credit_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
