<%= form_for @store_credit, local: true, html: { id: "submit-form"  } do |f| %>
  <%= form_errors_for @store_credit %>

  <div class= "<%= field_class(@store_credit, :user_id) %>">
    <%= f.label :user_id, "Jugador", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :user_id, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@store_credit, :ammount) %>">
    <%= f.label :ammount, "Monto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :ammount, autofocus: true, step: :any, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@store_credit, :detail) %>">
    <%= f.label :detail, "Detalle", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :detail, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@store_credit, :credit_date) %>">
    <%= f.label :credit_date, "Fecha", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :credit_date, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success block m-b' %>
  </div>
<% end %>
