<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase order:</strong>
  <%= @purchase_order_detail.purchase_order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase_order_detail.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_order_detail.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @purchase_order_detail.unit_price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @purchase_order_detail.subtotal %>
</p>

<%= link_to 'Edit', edit_purchase_order_detail_path(@purchase_order_detail) %> |
<%= link_to 'Back', purchase_order_details_path %>
