<p id="notice"><%= notice %></p>

<h1>Sales Order Details</h1>

<table>
  <thead>
    <tr>
      <th>Sales order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_order_details.each do |sales_order_detail| %>
      <tr>
        <td><%= sales_order_detail.sales_order %></td>
        <td><%= sales_order_detail.product %></td>
        <td><%= sales_order_detail.quantity %></td>
        <td><%= sales_order_detail.unit_price %></td>
        <td><%= sales_order_detail.subtotal %></td>
        <td><%= link_to 'Show', sales_order_detail %></td>
        <td><%= link_to 'Edit', edit_sales_order_detail_path(sales_order_detail) %></td>
        <td><%= link_to 'Destroy', sales_order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Order Detail', new_sales_order_detail_path %>
