<%= form_for @ubigeo, local: true do |f| %>
  <%= form_errors_for @ubigeo %>
  
  <div class= "<%= field_class(@ubigeo, :ug_id) %>">
    <%= f.label :ug_id, "Ubigeo", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :ug_id, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@ubigeo, :name) %>">
    <%= f.label :name, "Nombre", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombre del Ubigeo', class: 'form-control' %>
    </div>    
  </div>

  <div class= "<%= field_class(@ubigeo, :parent_id) %>">
    <%= f.label :parent_id, "Ubigeo Padre", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :parent_id, autofocus: true, class: 'form-control' %>
    </div>    
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success block m-b' %>
  </div>
<% end %>
