<%= form_for @game_line, local: true, html: { id: "submit-form"  } do |f| %>
  <%= form_errors_for @game_line %>

  <div class= "<%= field_class(@game_line, :name) %>">
    <%= f.label :name, "Nombre", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :name, placeholder: "Nombre", class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success block m-b' %>
  </div>
<% end %>
