<p id="notice"><%= notice %></p>

<h1>Game Lines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_lines.each do |game_line| %>
      <tr>
        <td><%= game_line.name %></td>
        <td><%= link_to 'Show', game_line %></td>
        <td><%= link_to 'Edit', edit_game_line_path(game_line) %></td>
        <td><%= link_to 'Destroy', game_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Line', new_game_line_path %>
