<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.sub_category %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @product.short_description %>
</p>

<p>
  <strong>Large description:</strong>
  <%= @product.large_description %>
</p>

<p>
  <strong>Full price:</strong>
  <%= @product.full_price %>
</p>

<p>
  <strong>Presale price:</strong>
  <%= @product.presale_price %>
</p>

<p>
  <strong>Otto price:</strong>
  <%= @product.otto_price %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @product.game_type %>
</p>

<p>
  <strong>Game style:</strong>
  <%= @product.game_style %>
</p>

<p>
  <strong>Thematic:</strong>
  <%= @product.thematic %>
</p>

<p>
  <strong>Suggested age:</strong>
  <%= @product.suggested_age %>
</p>

<p>
  <strong>Suggested players:</strong>
  <%= @product.suggested_players %>
</p>

<p>
  <strong>Game duration:</strong>
  <%= @product.game_duration %>
</p>

<p>
  <strong>Language:</strong>
  <%= @product.language %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @product.origin %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @product.editorial %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Game line:</strong>
  <%= @product.game_line %>
</p>

<p>
  <strong>Video reel url:</strong>
  <%= @product.video_reel_url %>
</p>

<p>
  <strong>Video how to url:</strong>
  <%= @product.video_how_to_url %>
</p>

<p>
  <strong>Video gameplay url:</strong>
  <%= @product.video_gameplay_url %>
</p>

<p>
  <strong>Img box:</strong>
  <%= @product.img_box %>
</p>

<p>
  <strong>Img box content:</strong>
  <%= @product.img_box_content %>
</p>

<p>
  <strong>Img board set:</strong>
  <%= @product.img_board_set %>
</p>

<p>
  <strong>Img board midgame:</strong>
  <%= @product.img_board_midgame %>
</p>

<p>
  <strong>Ranking bgg:</strong>
  <%= @product.ranking_bgg %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
