<%= form_for @supplier, local: true, html: { id: "submit-form"  } do |f| %>
  <%= form_errors_for @supplier %>

  <div class= "<%= field_class(@supplier, :name) %>">
    <%= f.label :name, "Nombre", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :name, placeholder: "Nombre", class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :ruc) %>">
    <%= f.label :ruc, "RUC", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :ruc,  class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :address_line_1) %>">
    <%= f.label :address_line_1, "Dirección Línea 1", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :address_line_1, placeholder: "Dirección - Línea 1", class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :address_line_2) %>">
    <%= f.label :address_line_2, "Dirección Línea 2", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :address_line_2, placeholder: "Dirección - Línea 2", class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :contact) %>">
    <%= f.label :contact, "Contacto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :contact, placeholder: "Nombre Contacto", class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :contact_mobile) %>">
    <%= f.label :contact_mobile, "Cel. Contacto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :contact_mobile, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :contact_email) %>">
    <%= f.label :contact_email, "e-mail Contacto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.email_field :contact_email, class: 'form-control' %>
    </div>
  </div>

  <div class= "<%= field_class(@supplier, :active) %>">
    <%= f.label :active, "Activo", class: 'col-lg-4 col-md-4 col-sm-4 control-label'  %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <label class="i-checks"> 
        <%= f.check_box :active %>
      </label>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit class: 'btn btn-success block m-b' %>
  </div>
<% end %>
